body {
    background-image: url(../assets/img/bg1.png);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Montserrat Alternates', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
}
a {
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    color: red;
}
h1 {
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 800;
}
h2 {
    font-size: 32px;
    font-weight: 700;
}
h3 {
    font-size: 20px;
    font-weight: 600;
}
h4 {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p {
    font-size: 18px;
}
span{
    font-size: 18px;
}
li {
    list-style-type: none;
}
.respo-img {
    height: 500px;
    width: auto;
}
.tech-text {
    opacity: 70%;
}

/* classes starts here */
.normal-text{
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.titles{
    font-weight: 600;
}
.gradient-text {
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    background-clip: text;

    background-image: linear-gradient(255deg,#032eff,red);
    box-decoration-break: clone;
    color: black;
    filter: drop-shadow(0 20px 30px #28d8ff33);
    font-size: 18px;
    -webkit-background-clip: text;
}
.gradient {
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    background-clip: text;

    background-image: linear-gradient(255deg,#032eff,red);
    box-decoration-break: clone;
    color: black;
    filter: drop-shadow(0 20px 30px #28d8ff33);
    -webkit-background-clip: text;
    font-weight: 900;
}
.big-text {
    font-size: 32px;
}
.bigger-text {
    font-size: 48px;
}
.footer-link {
    color: black;
    font-size: large;
    padding: 0px;
}
.active {
    font-weight: 800;
    color: red;
    padding: 20px;
    font-size: 24px;
}
.inactive {
    font-weight: 400;
    color: red;
    padding: 20px;
    font-size: 24px;
    opacity: 50%;
}
.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.glass-form {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
}
.glass-service{
/* From https://css.glass */
background: rgba(255, 53, 53, 0.28);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.4px);
-webkit-backdrop-filter: blur(1.4px);
border: 1px solid rgba(255, 53, 53, 0.11);
}

.nav-tab {
  padding: 20px;
}
.icon {
  color: rgb(3, 7, 30);
  font-size: 18px;
  padding-right: 10px;
  padding-left: 0px;
}
.brand {
    align-items: center;
}

.menu {
    padding: auto;
    align-items: center;
    justify-content: center;
}
.nav-bar-tabs {
    text-align: right;
    padding: 20px;
    text-decoration: none;
}
.accordion {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.bg-brown {
    background-color:burlywood;
}

.layout-blue {
    background-color: blue;
}
.layout-red {
    background-color: crimson;
}
.layout-gray {
    background-color: gray;
}
#hero-img {
    padding-top: 20px;
}

/* 2d-button */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.button-75 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  min-width: 70%;
}

.button-75:hover {
  background-color: #fff;
}

.button-75:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.button-76 {
    --offset: 50px; 
  
    position: sticky;
    bottom: 10px;
    margin-right:10px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));

    background-color: #ffffff;
    border: 2px solid #422800;
    border-radius: 20px;
    box-shadow: #420000 4px 4px 0 0;
    color: #140e0e;
    cursor: pointer;
    /* display: inline-block; */
    font-weight: 600;
    font-size: 18px;
    /* padding: 0 18px; */
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    min-width: 50px;
  }
  
  .button-76:hover {
    background-color: #fff;
  }
  
  .button-76:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }