body {
    background-image: url(../assets/img/bg1.png);
    background-size: cover;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Montserrat Alternates', sans-serif; */
    font-family: 'Roboto Slab', serif;
}
a {
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    color: red;
}
h1 {
    font-size: 56px;
    padding-bottom: 10px;
    padding-top: 10px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p {
    font-size: 18px;
}
span{
    font-size: 18px;
}
li {
    list-style-type: none;
}
.nav-tab {
  padding: 20px;
}
.icon {
  color: rgb(3, 7, 30);
  font-size: 18px;
  padding-right: 10px;
  padding-left: 0px;
}
.brand {
    align-items: center;
}

.menu {
    padding: auto;
    align-items: center;
    justify-content: center;
}
.nav-bar-tabs {
    text-align: right;
    padding: 20px;
    text-decoration: none;
}
.accordion {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}



@media (max-width: 675px) { 
    .nav-bar-tabs {
        display: none;
    }
}
@media (min-width: 675px) { 
    .menu {
        display: none;
    }
}


.layout-blue {
    background-color: blue;
}
.layout-red {
    background-color: crimson;
}
.layout-gray {
    background-color: gray;
}
#hero-img {
    padding-top: 20px;
}

/* 2d-button */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.button-75 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  min-width: 70%;

}

.button-75:hover {
  background-color: #fff;
}

.button-75:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}