body {
    background-image: url(../assets/img/bg.png);
    background-size: cover;
}
a {
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    color: red;
}
li {
    list-style-type: none;
}
.brand {
    align-items: center;
}

.menu {
    padding: auto;
    align-items: center;
    justify-content: center;
}
.nav-bar-tabs {
    text-align: right;
    padding: 20px;
    text-decoration: none;
}
.accordion {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}



@media (max-width: 675px) { 
    .nav-bar-tabs {
        display: none;
    }
}
@media (min-width: 675px) { 
    .menu {
        display: none;
    }
}
